
/* ..........Banner Section................ */

.carousel-item{
    position: relative;
}
.carousel-item::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
